<% include partials/header %>
    <div class="container">
        <h1>Enter student information</h1>
        <form action="/students" method="POST">
            <input class="form-control" type="text" name= "id" placeholder="id"><br>
            <input class="form-control" type="text" name= "name" placeholder="name"><br>
            <input class="form-control" type="text" name= "code" placeholder="subject code"><br>
            <input class="form-control" type="text" name= "subject" placeholder="subject name"><br>
            <input class="form-control" type="text" name= "teacher" placeholder="subject teacher"><br>
            <input class="form-control" type="text" name= "schedule" placeholder="schedule of subject"><br>
            <input class="form-control" type="text" name= "units" placeholder="subject number of units"><br>
            <input class="form-control" type="text" name= "section" placeholder="section of student"><br>
            <input class="form-control" type="text" name= "course" placeholder="course of student"><br>
            <button class="btn btn-lg btn-primary btn-block">Register</button>
        </form>
    </div>
<% include partials/footer %>